name: Deploy

on:
  push:
    branches: ["main"]
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v14

      - name: Run nix run
        env:
          FLY_ACCESS_TOKEN: ${{ secrets.FLY_DEPLOY_TOKEN }}
        run: nix run .#flyDeploy
